body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    overflow: hidden;
    font-weight: bolder;
    height: 100vh;
    width: 100vw;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-box .panda {
    height: 20vh;
    aspect-ratio: 1.08;
}

.login h1 {
    font-size: clamp(2rem, 4vw, 8vw);
    text-align: center;
}

#login-button {
    padding: 1rem 2rem;
    background-color: #A8D4EA;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: clamp(1rem, 3vw, 6vw);
    font-weight: bolder;
    transition: background-color 0.2s;
}

.login p {
    font-size: clamp(1rem, 1.7vw, 3vw);
    text-align: center;
}

#login-button:hover {
    background-color: #93cce9;
}